.nav{
  height: 50;
  padding: 10px;
  background: #000;
  color:aliceblue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav ul{
  display: flex;
  justify-content: center;
  list-style: none;
  align-items: center;
}

.nav ul li a{
  margin: 5px 15px;
}